body {
    font-family: Arial, sans-serif;
}

main {
    padding: 5px;
}

footer {
    padding: 15px 5px;
    font-size: 0.8em;
    color: #666666;
}

label {
    float: left;
    clear: left;
    display: block;
    width: 120px;
    text-align: right;
}

#submit {
    display: block;
    margin-left: 120px;
}

fieldset {
    width: 350px;
    border-style: solid;
    border-color: #d3d3d3
}

@media only screen and (max-width:27.5em) {
    label {
        display: block;
        text-align: left;
    }
    input {
        width: 100%;
    }
    textarea {
        display: block;
    }
    #submit {
        margin-left: 0px;
    }
}